@charset "UTF-8";
/**
 * Override material colors
 */
:root {
	--mdc-shape-medium: 4px;
	--input-border-color: #BDBDBD;
	--mdc-theme-primary: #4866cc;
	--mdc-theme-secondary: #455a64;
	/*--mdc-theme-background: #fff;*/
	--mdc-theme-background: #f4f4f4;
	--mdc-theme-surface: #fff;
	--mdc-theme-error: #b00020;
	--mdc-theme-on-primary: #fff;
	--mdc-theme-on-secondary: #fff;
	--mdc-theme-on-surface: #000;
	--mdc-theme-on-error: #fff;
	/* top app bar title is the same as h1 */
	--mdc-typography-headline6-font-size: 3rem;
	--mdc-typography-headline6-line-height: calc( 3rem * 1.15);
	--mdc-typography-headline6-font-weight: 300;
	/* end top app bar title */
}


.clear {
	display: block;
	clear: both;
}
.spacer {
	height: 1rem;
	display: block;
	clear: both;
}

.divider {
	height: 0;
	margin: 0;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mdc-top-app-bar {
	position:static;
}
.mdc-top-app-bar__row {
	height: 6rem;
}
.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
	font-size: 2rem;
	width: 4rem;
	height: 4rem;
}
a.mdc-top-app-bar__action-item,
a.mdc-top-app-bar__navigation-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.mdc-top-app-bar button {
	margin: 0;
}
.partage-auth {
	width: 400px;
	max-width: 400px;
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	align-items: center;
}
.partage-auth-form{
	width: 100%;
	padding: 2rem 1rem;
	margin-bottom: 3rem;
}

.partage-auth-invite {
	width: 100%;
	padding: 1rem;
}

.partage-signin-password-label {
	display: flex;
	justify-content: space-between;
}
.partage-auth-button-box {
	width: auto;
	margin:0 auto;
}

.label-inline-block {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.button-rounded {
	border-radius: 3rem;
	padding: 0 1.5rem;
}

.required {
	color: var(--mdc-theme-error);
}

.input-info,
.input-error {
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
}

.input-error {
	color: var(--mdc-theme-error);
}

.input-group-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.input-group-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	justify-content: space-between;
}
/*
 *  Starter page
 */
.starter-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.starter-label {
	font-family: "Nothing You Could Do", "Segoe Script", cursive;
	font-size: 6rem;
	font-weight: 300;
	color: #fe6060;
}

.starter-button {
	width: 250px;
	padding: 2rem 2.5rem;
	font-size: 1.5rem;
}

.starter-image {
	margin-top: 4rem;
	height:auto;
	width: 600px;
	max-width: calc( 100% - 2rem);
}
.partage-top-app-bar__section--align-center {
	justify-content: center;
}
.main-container {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/*
 * Common list css
 */
.content-column {
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.list-item {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	background-color: #ffffff;
	padding: 1rem;
}
a.list-item {
	text-decoration: none;
	color: inherit;
}
.list-item-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.list-item-currency {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	align-items: flex-end;
}
.list-item-title {
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.list-item-info {
	font-style: italic;
	font-size: 0.875rem;
}

.list-item-action:not(:last-child) {
	margin-right: 0.5rem;
}

.list-condensed {
	background-color: #fff;
	border: 1px solid var(--input-border-color);
	border-radius: var(--mdc-shape-medium);
	padding: 0;
}

.list-condensed-item-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.list-condensed-button {
	margin: 0;
}

.participants-group-label {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.person-choice-label {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: block;
	text-align: center;
	font-size: 3rem;
}
.participant-add-button-box {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: block;
	text-align: center;
}

/*
 * Board details
 */

.board-description {
	display: block;
	text-align: center;
	margin-bottom: 4rem ;
}
.board-details-chart {
	width: 100%;
	height: 300px;
	margin-bottom: 4rem ;
}
/*
 * Board balance
 */
.balance-label {
	display: block;
	text-align: center;
}

.balance-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--input-border-color);
}
.balance-table thead {
	background-color: #dddddd;
}
.balance-table tbody {
	background-color: #fff;
}

.balance-table td,
.balance-table th {
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: 1px solid var(--input-border-color);
}
/*
 * Bottom spacing
 */
.board-balance-chart,
.balance-table {
	margin-bottom: 2rem ;
}

/*
 * Chart
 */
.highcharts-background {
	fill: transparent;
}
/*
 * Participant list
 */
.list-item-participant-title {
	font-weight: 700;
}


